# History files
.Rhistory
.Rapp.history
*.DS_Store

# Session Data files
.RData

# RStudio files
.Rproj.user/
Intro_R_Official.Rproj

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Misc
private/
student_submissions_2021/
ZAF*
gadm*